<h1>What are your favorite beers?</h1>


<table cellpadding="0" cellspacing="0">
	<thead>
  <tr>
    <th>Name</th>
    <th>Total Votes</th>
    <th>Vote</th>
    <th>Remove Beer</th>
  </tr>
  </thead>
  
<tbody>
<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, topic %></td>
    <td><%= pluralize(topic.votes.length, "vote") %></td>
    <td><%= button_to '+1', votes_path(topic_id: topic.id), method: :post, :class => 'button_to' %></td>
    <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Beer', new_topic_path %>
